extends layout

block content
  #welcome
    h1 
      a(href='/') Feed me, SPARQL!
    p We have some info for you. Too much or not what you were looking for? Keep filtering. It's free!

  #restaurant-details
    div.row
      div.col-sm-4
        img.img-responsive(src=data.photo_url.value)
      div.col-sm-8
        h2= data.name.value
        p= data.description.value
        ul
          li Opening hours: #{data.openingHours.value}
          if data.priceRange.value == '$$$'
            li Price: expensive
          else if data.priceRange.value == '$$'
            li Price: medium
          else
            li Price: cheap
          li Address: #{data.street.value} (#{data.city.value})
          li Email: #{data.email.value}
          li Telephone: #{data.telephone.value}
  #map-canvas-wrapper
    #map-canvas

  script(type='text/javascript').
    function initialize() {
      var myLatlng = new google.maps.LatLng(#{data.latitude.value}, #{data.longitude.value});
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: myLatlng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: '#{data.name.value}'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
