extends layout

block content
  #welcome
    h1 
      a(href='/') Feed me, SPARQL!
    p We have some info for you. Too much or not what you were looking for? Keep filtering. It's free!

  #restaurant-details(itemscope, itemtype="http://schema.org/Restaurant")
    div.row
      div.col-sm-4
        img.img-responsive(src=data.photo_url.value, itemprop="photo")
      div.col-sm-8
        h2(itemprop="name")= data.name.value
        p(itemprop="description")= data.description.value
        ul
          li
            | Opening hours: 
            span(itemprop="openingHours") #{data.openingHours.value}
          if data.priceRange.value == '$$$'
            li
              | Price: expensive (
              span(itemprop="priceRange") $$$
              | )
          else if data.priceRange.value == '$$'
            li
              | Price: medium (
              span(itemprop="priceRange") $$
              | )
          else
            li
              | Price: cheap (
              span(itemprop="priceRange") $
              | )
          li Menus:
            ul
              each menu in menus
                li(itemscope, itemtype="http://dbpedia.org/resource/Menu") <a class="tag" href='#{menu.menu.value}'><span itemprop="name">#{menu.name.value}</span> (<span itemprop="price">#{menu.price.value}</span>€)</a>
          li(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
            | Address: 
            span(itemprop="streetAddress") #{data.street.value} 
            | (
            span(itemprop="addressLocality") #{data.city.value}
            | )
          li
            | Email: 
            span(itemprop="email") #{data.email.value}
          li
            | Telephone: 
            span(itemprop="telephone") #{data.telephone.value}
  #map-canvas-wrapper
    #map-canvas
  #reviews
    each review in reviews
      div.review
        div.row
          div.col-xs-10
            h2= review.name.value
            span #{review.author.value} - Published on #{review.date.value}
            p= review.description.value
          div.col-xs-2
            p= review.rating.value

  script(type='text/javascript').
    function initialize() {
      var myLatlng = new google.maps.LatLng(#{data.latitude.value}, #{data.longitude.value});
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: myLatlng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: '#{data.name.value}'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
